CREATE DATABASE #SONAR_DB# CHARACTER SET utf8;
 
GRANT ALL ON #SONAR_DB#.* TO '#SONAR_USER#' IDENTIFIED BY '#SONAR_PASS#';
GRANT ALL ON #SONAR_DB#.* TO '#SONAR_USER#'@'localhost' IDENTIFIED BY '#SONAR_PASS#';
 
FLUSH PRIVILEGES;
