[GENERAL]
RESPONSEFILE_VERSION = "12.1.0"
OPERATION_TYPE = "createDatabase"

[CREATEDATABASE]
GDBNAME = "#DB_NAME#"
SID = "#DB_NAME#"
SYSPASSWORD = "#SYS_PASS#"
SYSTEMPASSWORD = "#SYSTEM_PASS#"
SERVICEUSERPASSWORD = "#SYSTEM_PASS#"
SYSMANPASSWORD = "#SYSMAN_PASS#"
DBSNMPPASSWORD = "#DBSNMP_PASS#"
TEMPLATENAME = "General_Purpose.dbc"
CHARACTERSET = "AL32UTF8"
NATIONALCHARACTERSET = "AL16UTF16"

CREATEASCONTAINERDATABASE = false
#NUMBEROFPDBS = 1
#PDBNAME = testpdb
